body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* intro section */
header{
    margin: 0;
    background-image:url("https://2.bp.blogspot.com/-H3JXh2cIKHs/WuwLvnz19cI/AAAAAAAAMXs/-qySdr5zEcc-kcLC4arf5m5H3F_trN7sgCK4BGAYYCw/s1600/kristopher-roller-110203-unsplash-m.jpg");
    height: 700px;
  }

h1{
    margin: 0;
    text-align: center;
    color: #cdafee;
    padding-top: 150px;
    font-family: lobster;
}

.expand {
	-webkit-animation: expand 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: expand 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #e5ccff;
    border-right: 5px solid #e5ccff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/* About me */
#profile {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#profileDiv{
  padding-top: 20px;
}

#about{
  background-color:#d1c4e9;
  padding-bottom: 20px;
}

.intro{
  padding: 10px;
}

h3{
    font-family: "Abril Fatface";
}

h5{
  font-family: "Abril Fatface";
}

.tagTitle{
  text-align: center;
  font-size: 20px;
  font-family: "Abril Fatface";
}

.tag{
  margin: 5px;
  cursor: default;
  background-color: #9575cd;
}

.tag:hover{
  background-color: #9575cd;
}

.tagDiv{
  padding-left: 10px;
  padding-right: 10px;
}

.icon-custom{
  color:#673ab7;
  padding: 10px;
  font-size: 38px;
}

/* portfolio section */
#portfolio{
  background-color: #b39ddb;
  padding-top: 20px;
  padding-bottom: 20px;
}

.more{
  display: block;
  padding: 5px;
}

/* footer */
.footer-custom{
  padding: 0;
}